{
  "name": "${node_pkg}",
  "version": "${pkg_version}",
  "description": "TEST - Platform Specific Broker CLI for @you54f/pact ${node_os}-${node_arch}",
  "repository": {
    "type": "git",
    "url": "git://github.com/you54f/pact-js-cli.git"
  },
  "scripts": {},
  "author": "Yousaf Nabi <you@saf.dev>",
  "homepage": "https://github.com/you54f/pact-js-cli#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}
